services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  migration:
    build: .
    container_name: migration
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/

volumes:
  mongo_data: